{% extends 'ordersite/base.html' %}
{% load humanize %}

{% block content %}
  <div class="cart">
    <h2>カート</h2>
    <div id="list"></div>
    <form action="{% url 'move_to_confirmation' %}" method="GET">
      {% csrf_token %}
      <div hidden id="code"></div>
      <div hidden id="code2"></div>
      <input type="submit" value="購入する">
    </form>
    <input type="button" value="カートを空にする" onclick="DeleteCart();">
  </div>
  <h1>商品購入ページ</h1>
  {% for product in products %}
    {% with forloop.counter0|stringformat:"s" as scounter %}
      <div class="product">
        <img src="{{product.image.url}}" width="250" height="250">
        <div class="product_data">
          <tr>品名：{{product.品名}}</tr><br>
          <tr>品番：{{product.品番}}</tr><br>
          <tr>価格：{{product.価格|intcomma}}</tr><br>
          <tr>サイズ：</tr>
          {% with size="size"|add:scounter %}
            <select name="size" id="{{size}}">
              {% for val in product.sizes.all %}
                <option>{{val.size}}</option>
              {% endfor %}
            </select>
          {% endwith %}
          <tr>数量：</tr>
          {% with quantity="quantity"|add:scounter %}
            <select name="quantity" id={{quantity}}>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select><br>
          {% endwith %}
          {% with name="name"|add:scounter %}
            <input type="hidden" id="{{name}}" value="{{product.品名}}">
          {% endwith %}
          {% with price="price"|add:scounter %}
            <input type="hidden" id="{{price}}" value="{{product.価格}}">
          {% endwith %}
          <input type="button" id={{forloop.counter0}} value="カートに入れる" onclick="AddToCart(this.id);">
        </div>
      </div>
    {% endwith %}
  {% endfor %}
{% endblock %}